.panel {
  height: 28em;
  width: 22em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
form {
  width: 100%;
  padding: 0 2em;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    position: relative;
    width: inherit;
  }
}
.form-control {
  width: 100%;
  font-size: 1.125em;
  color: #FFFFFF;
  background-color: #C6C6C7;
  border-radius: 2.75em;
  border: 1px solid #C6C6C7;
  box-shadow: none;
  height: 2.75em;
  padding: 0 1.25em;
  order: 2;

  &:focus {
    border-color: #525252;
    background: transparent;
  }

  & + label {
    order: 1;
    margin-bottom: .5em;
  }
}

@media screen and (max-width: 991px){

  .form-control {
    padding: 1em;
  }

}
