.comments {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 1em;
}
.title {
  margin: 0;
}
.comments-list {
  margin-bottom: 1em;
}
.wrapper {
  border-radius: .75em;
  padding: 1px;
  margin-bottom: 1em;
}
.panel {
  margin: 0;
  border-radius: .6em;
}

@media screen and(max-width: 991px){
  .comments {
    padding: 1em 1em 1em;
  }
  .wrapper {
    margin: 1em auto;
  }
  .comments-list {
    padding-left: 1em;
  }
}
