<div *ngFor="let comment of comments" class="gradient-four-color wrapper">
  <div *ngIf="networksLoaded" class="comments panel">
    <h3 class="title">{{ comment.name }}</h3>
    <p>{{comment.body}}</p>
    <span class="text-gradient gradient-blue-green article">User: {{comment.email}}</span>
  </div>
</div>

<div *ngIf="!networksLoaded">
  <div class="wrapper-preloader">
    <p class="text-gradient gradient-four-color">Loading </p>
    <img src="assets/img/preload-ico.png" alt="" class="preloader">
  </div>
</div>

