//.panel {
//  border-radius: .75em;
//  background-color: #212227;
//  font-family: 'Montserrat', sans-serif;
//  font-size: 1.5em;
//  color: rgba(255, 255, 255, 0.8);
//  box-shadow: 0 .6875em 2.0625em rgba(0, 0, 0, 0.44);
//  letter-spacing: 0.03em;
//  height: 24em;
//  width: 20em;
//  margin: 10% auto 0;
//  display: flex;
//  justify-content: center;
//}
.dream {
  width: 28em;
  position: absolute;
  top: -2em;
  left: 60%;
  z-index: -1;
}
