
<section *ngIf="networksLoaded; else download" class="articles">
  <ul>
    <li class="panel wrapper" *ngFor="let article of articles | paginate: { itemsPerPage: 5, currentPage: p }">
      <div class="title">{{ article.title }}</div>
      <div class="description">{{ article.content | slicetext:0:85:'...' }}</div>
      <a [routerLink]="['/article', article.id, article.title]" class="text-gradient gradient-blue-green article">{{ 'more' | uppercase }}</a>
    </li>
  </ul>
</section>
<pagination-controls class="pagination" responsive="true"  (pageChange)="p = $event"></pagination-controls>

<ng-template #download>
  <div class="wrapper-preloader">
    <img src="assets/img/preload-ico.png" alt="" class="preloader">
  </div>
</ng-template>
