
.panel {
  height: 40em;
  width: 24em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
form {
  width: 100%;
  padding: 0 2em;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75em;
    position: relative;
    width: inherit;

    &.agree {
      flex-direction: row;
      align-items: center;

      label {
        margin: 0;
        position: relative;
        padding-left: 2em;
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 1em;
          height: 1em;
          background: radial-gradient( #F5C176 50%,#B57F3A );
          position: absolute;
          left: 0;
        }

      }
      input {
        display: none;
        user-select: initial;

        &:checked {
          & + label {
            background: linear-gradient(90deg, #1DA8EB 0%, #9bcac9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::before {
              background: #1DA8EB ;
            }
          }
        }
      }
    }
  }
}
.form-control {
  font-size: 1.125em;
  color: #FFFFFF;
  background-color: #C6C6C7;
  border-radius: 2.75em;
  border: 1px solid #C6C6C7;
  box-shadow: none;
  height: 2.75em;
  padding: 0 1.25em;
  order: 2;


  &:focus {
    border-color: #525252;
    background: transparent;
  }

  & + label {
    order: 1;
    margin-bottom: .5em;
  }
}

