<header class="panel ">
  <nav>
    <div class="logo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/article">
        <img src="assets/img/ng.png" alt="">
      </a>
    </div>
  </nav>
  <div class="title">Fake Rest API ( <a href="https://jsonplaceholder.typicode.com/" class="gradient-four-color text-gradient" target="_blank">jsonplaceholder</a> )</div>
  <div class="logout text-gradient gradient-blue-green" (click)="logout()">Log out</div>
</header>
